[core]
        abbrev = 12
	editor = vim
[user]
	name = Gianluca Borello
	email = g.borello@gmail.com
[branch]
	autosetuprebase = always
[pull]
	rebase = true
[credential]
	helper = store
[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = g.borello@gmail.com
	smtpServerPort = 587
[rebase]
	autoStash = true
